
:root{
    --underline-var:0%;
}
html {
    width: 100%; height: 100%;
}
body {
    margin: 0;
    display:flex;
    flex-direction: column;
    background-color: transparent;  
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: x-large;
    font-style: normal;
    height: 100%;
    width: 100%;
}

#topSection{
    color:white;
    text-shadow: black;
    height: 10%;
    width: max-content;
    display:flex;
    gap:3rem;
    margin-left: 5%;
    justify-content:left;
    align-items: center;
}
#topSectionButtons{
    display:flex;
    flex-direction: row;
    gap:2rem;
}
#topSection p{
    font-size: larger;
}

button{
    background:linear-gradient(currentcolor 0 0)
    bottom left/var(--underline-var,0%) 10% no-repeat;
    border:none;
    background-color:transparent;
    color:white;
    font-size: large;
    font-weight: 500;
    transition:0.5s;
}
button:hover{
    --underline-var: 100%;
    color:rgb(199, 199, 199);
}






#info{
    color:white;
    
    width:100%;
    height:100%;
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    padding : 2.5rem;
    box-sizing: border-box;
    flex-direction: column;
    text-shadow:2px 2px 5px black;
    z-index: 0;
    
    
}

a,button{
    cursor: pointer;
    z-index:5;
}
#home{
    
    opacity: 0;
    text-align:center;
    top:0px;
    height:70%;
    display:flex;
    line-height:1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    transition: opacity 0.5s ease;
    
}
#home.fade-in{
    opacity: 1;
    z-index: 1;
}
#socials{
    z-index: 2;
    width:100%;
    display:flex;
    justify-content: center;
    gap:2rem;
}
.socials_button{
    
    width:40px;
    height:40px;
    transition: 0.1s ease;
    background-color: transparent;
    
}

.socials_button img{
    width:40px;
    height:40px;
}

.socials_button:hover{
    filter: drop-shadow(0px 0px 5px #c1c1c1);
}

.infoBox{
    z-index: 0;
    position:absolute;
    top:0px;
}

#engineering_course{
    width:100%;
    height:100%;
    opacity: 0;
    line-height:2rem;
    position:relative;
    transition: opacity 0.5s ease;
}


#engineering_course.fade-in{
    opacity: 1;
    z-index: 1;
}

#careerGrid{
    padding-left: 4rem;
    padding-top: 1rem;
    display:flex;
    flex-direction: column;
    width:fit-content;

    
}

#careerGrid img{
    height:4rem;
    border-radius: 1.5rem;
        
}

#careerGrid p{
    display:flex;
    align-items: center;
    gap:2rem;
        
}
#canvas{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; 
      width: 100vw;
      height: 100vh;
}