
:root{
    --underline-var:0%;
}
html {
    width: 100%; height: 100%;
    box-sizing: border-box;

}
body {
    margin: 0;
    display:flex;
    flex-direction: column;
    background-color: transparent;  
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: x-large;
    font-style: normal;
    height: 100%;
    width: 100%;
}

#topSection{
    color:white;
    text-shadow: black;
    height: 10%;
    width: max-content;
    display:flex;
    gap:3rem;
    margin-left: 5%;
    justify-content:left;
    align-items: center;
}
#topSectionButtons{
    display:flex;
    flex-direction: row;
    gap:2rem;
}
#topSection p{
    font-size: larger;
}

button{
    background-color:transparent;
    color:white;
    border:none;
}


#topSection button{
    background:linear-gradient(currentcolor 0 0)
    bottom left/var(--underline-var,0%) 10% no-repeat;
    border:none;
    background-color:transparent;
    color:white;
    font-size: large;
    font-weight: 500;
    transition:0.5s;
}
button:hover{
    --underline-var: 100%;
    color:rgb(199, 199, 199);
}






#info{
    color:white;
    
    width:100%;
    height:100%;
    display:flex;
    position:relative;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    text-shadow:2px 2px 5px black;
    z-index: 0;
    
    
}

a,button{
    cursor: pointer;
    z-index:5;
}
#home{
    
    opacity: 0;
    text-align:center;
    top:0px;
    height:70%;
    display:flex;
    line-height:1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    
}
#home.fade-in{
    opacity: 1;
    z-index: 1;
}
#socials{
    z-index: 2;
    display:flex;
    justify-content: center;
    gap:2rem;
}
.socials_button{
    
    width:40px;
    height:40px;
    transition: 0.1s ease;
    background-color: transparent;
    
}

.socials_button img{
    width:40px;
    height:40px;
}

.socials_button:hover{
    filter: drop-shadow(0px 0px 5px #c1c1c1);
}

.infoBox{
    display:flex;
    width:100%;
    box-sizing: border-box;
    padding-left:4rem;
    z-index: 0;
    position:absolute;
    top:0px;
}

#engineering_course{
    
    flex-direction: column;
    height:100%;
    opacity: 0;
    width:80%;
    line-height:2rem;
    transition: opacity 0.5s ease;
}
#course_Text{
    padding-left: 4rem;
}

#engineering_course.fade-in{
    opacity: 1;
    z-index: 1;
}

#mobility{
    width:100%;
    height:100%;
    opacity: 0;
    line-height:2rem;
    transition: opacity 0.5s ease;
}


#mobility.fade-in{
    opacity: 1;
    z-index: 1;
}


#civic{
    width:100%;
    height:100%;
    opacity: 0;
    line-height:2rem;
    transition: opacity 0.5s ease;
}


#civic.fade-in{
    opacity: 1;
    z-index: 1;
}


#activities{
    width:100%;
    height:100%;
    opacity: 0;
    line-height:2rem;
    transition: opacity 0.5s ease;
}


#activities.fade-in{
    opacity: 1;
    z-index: 1;
}

#career-dev{
    width:100%;
    height:100%;
    opacity: 0;
    line-height:2rem;
    transition: opacity 0.5s ease;
}


#career-dev.fade-in{
    opacity: 1;
    z-index: 1;
}

#semesters{
    margin-left: 4rem;
    line-height:0.75rem;
    width:100%;
    height:55%;
    position: relative;
    display:flex;
    flex-direction: column;
    gap:0rem;
    background-color: #33333346;
    border: 2px solid #585858;
    border-radius: 2rem;
    align-items: center;
}
#semesters ul{
    list-style-type: disc;
    line-height:3rem;
}


#semesters img,#semesters button{
    width: 2rem;
    height: 2rem;
    transition: 0.5s ease;
}
.sem{
    opacity: 1;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease;
    transition: 0.5s ease;
    transform: translateX(0px);
}


.sem.fade-out{
    opacity: 0;
}

.sem.translateRight{
    transform: translateX(-70%);
}

.sem.translateLeft{
    transform: translateX(70%);
}




#sem_GoLeft{
    opacity:1;
    position:absolute;
    top:45%;
    left:2%; 
    transition: opacity 0.5s ease; 
}
#sem_GoRight{
    opacity:1;
    position:absolute;
    top:45%;
    right:2%;
    transform: rotate(180deg);
    transition: opacity 0.5s ease;
}

#sem_GoLeft.unavailable{
    opacity: 0.5;
}

#sem_GoRight.unavailable{
    opacity: 0.5;
}

#sem_GoLeft:hover{
    filter: drop-shadow(0px 0px 5px #ededed);
    transform: scale(1.1);
}

#sem_GoRight:hover{
    filter: drop-shadow(0px 0px 5px #ededed);
    transform: rotate(180deg) scale(1.1);
}


#canvas{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; 
      width: 100vw;
      height: 100vh;
}